$page-background-color: #00022A;
$menu-background-color: #ffffff;
$menu-background-color-active: #ffffff;
$menu-text-color: black;
$border-active-color: #428bca;
$main-text-color: black;
$border-sub-header-color: #fdb913;
$background-sub-header-color: rgba(15,104,164, 1);

$objects-color: #f37c37;
$parameters-color: #fecb44;
$telescopes-color: #949AA1;