.core-container {
    width: 100%;
    height: 100%;

    .core-layout__viewport{
        background-color: rgba(255,255,255,0.8);
    }

    .pages-box{
        background: rgba(255, 255, 255, 0.6);
        width: 98%;
        height: 98%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}
.version {
     &__text {
         margin: 0;
     }
     .trial-info {
         &__wrapper {
             margin-left: 10px;
         }
         &__text {
             margin: 0;
         }
     }
}