.user-name{
    div {
        div {
            div {
                padding-right: 30px;
            }
        }
    }
}
.list-item {
    div {
        div {
            margin-left: 0 !important;
            margin-right: 5px;
        }
    }
}