.user-name{
    div {
        div {
            div {
                padding-right: 30px;
            }
        }
    }
}
.list-item {
    div {
        div {
            margin-left: 0 !important;
            margin-right: 5px;
        }
    }
}
.btns__wrapper {
    .menu__btn {
        border: none;
        background-color: transparent;
        color: rgb(40, 40, 41);
        padding: 0 10px;
    }
}
