.trials-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;

  .trial-select {
    margin-left: auto;
    margin-right: auto;
  }
  .trials-header {
    display: flex;
    justify-content: space-between;
    color: #282829;
    font-size: 20px;
  }
  .trials-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .trials-header:first-child {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .rt-td {
    text-align: center;
  }
  .ReactTable {
    .rt-thead.-headerGroups {
      font-size: 22px;
    }
    .rt-tbody {
      overflow-y: auto;
      max-height: 60vh;
    }
  }

  .no-sessions {
    text-align: center;
  }
  .spinner-box {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
    .spinner {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .observation-add {
    right: 60px;
    margin-right: 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 40px;
  }
  .action-btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    &>div {
      margin: 0 20px;
    }
  }
}
