.route--active {
  background-color: #00497E!important;
  color: #FDB913!important;
}
.menu{
  font-size: 11pt;
}
.driver-title {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 18px;
}
@media only screen and (max-width: 520px) {
  .driver-title {
    display: none;
  }
}
