.route--active {
  background-color: #00497e !important;
  color: #fdb913 !important;
}
.menu {
  font-size: 11pt;
}
.driver-title {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 18px;
}
.menu__info {
  .version__text {
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(40, 40, 41);
  }
}

@media only screen and (max-width: 520px) {
  .driver-title {
    display: none;
  }
}
